/* BEGIN IMPORTED FONTS VIA @FONT-FACE */

@font-face {
    font-family: geoLight;
    src: url('geomanist-light-webfont.woff');
}

@font-face {
    font-family: geoUltra;
    src: url('geomanist-ultra-webfont.woff');
}

@font-face {
    font-family: geoMed;
    src: url('geomanist-medium-webfont.woff');
}

@font-face {
    font-family: geoExLight;
    src: url('geomanist-extralight-webfont.woff');
}

/* END IMPORTED FONTS VIA @FONT-FACE */

/* begin loader - note this element loads first in the dom and jquery is enqueued in the head element */

#loader {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    color: black;
    transition-duration: .5s;
    transition-delay: 0.1s;
    opacity: 1;
}

.loaderContent {
    margin: auto;
    margin-top: 25%;
}

.outer {
    font-family: 'geoUltra';
    font-size: 3.5em;
    margin-left: .1em;
    margin-right: .1em;
}

/* end loader - note this element loads first in the dom and jquery is enqueued in the head element */

#reminder-top {
    width: 100%;
    text-align: center;
    background: #1455C2;
    opacity: 1;
    position: fixed;
    z-index: 1;
    top: -3em;
    font-size: 1em;
    padding: 0.5em;
    transition: ease;
    transition-delay: 1.3s;
    transition-duration: 0.3s;
}

#reminder-top-content {
    color: white;
}

/* [==========================================] */

/* [=========== BEGIN GLOBAL STYLES ==========] */

/* [==========================================] */

html {
    background: white;
    scroll-behavior: smooth;
}

body {
    font-family: 'geoLight';
    font-size: 1em;
    color: #383838;
}

/* begin alterantive colr schemes (nightmode, user choices, etc.) */

.nightMode {
    background: black;
}

/* end alterantive colr schemes (nightmode, user choices, etc.) */

button:focus {
    outline: none;
}

.splash {
    color: #1455C2;
}

.content-container {
    margin: 0em 4em 0em 4em;
    padding: 5em 0 4em 0;
    width: calc(100% - 8em);
    /* height: 100vh; */
}

.content-body {
    font-size: 1em;
    margin-top: 3em;
    /* padding: 2em; */
    /* background: lightgreen; */
}

header {
    width: inherit;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 1;
    transition-duration: .2s;
    transition-delay: 0.1s;
}

.expandBorder {
    display: block;
    margin: auto;
    width: 0%;
    margin-top: 0;
    border-top: 1.5px solid black;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.scrollUp {
    transform: translateY(-80px);
}

.hideRight {
    color: red;
}

.hideLeft {
    transform: translateX(-4em);
}

.navbar-toggler {
    border: none;
}

.navbar {
    background: white;
}

.navbar-brand {
    font-family: 'geoMed';
    font-size: 2em;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    font-size: 1.0em;
}

.collapsing {
    transition: ease;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.active {
    font-family: 'geoMed';
}

.sidebar {
    text-align: center;
    width: 4em;
    opacity: 0.95;
    height: 100vh;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.sidebarContent {
    position: absolute;
    bottom: 4vh;
}

.socialIcon {
    border-radius: 100%;
    font-size: 1.6em;
    background: none;
    border: none;
}

.socialIconButton:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease;
    color: white;
}

.socialIcon:hover {
    border-radius: 100%;
    color: white;
    background: #1455C2;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#left {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 1.2em;
    background: none;
}

#right {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
}

#close {
    background: none;
    border: none;
    color: grey;
}

#expand {
    background: none;
    border: none;
}

.nonExpand {
    background: none;
    border: none;
}

/* [==========================================] */

/* [============ END GLOBAL STYLES ===========] */

/* [==========================================] */

/* contact form here */

#contactForm {
    height: 30em;
    padding-top: 10em;
    opacity: 0;
    margin: auto;
    color: white;
    transition-delay: 0.3s;
    transition-duration: 0.1s;
}

.test {
    padding-top: 10%;
    font-family: 'geoExLight';
    color: black;
}

#testText {
    font-size: 1.75em;
}


.contact a {
    font-family: geoMed;
    color: black;
    font-size: 1em;
}

.contact:hover a {
    color: black;
    /* font-size: 2em; */
}
/* [====================] - BEGIN MEDIA QUERIES - [====================] */

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

@media (max-width: 767px) {
    /* logo length shorted at this breakpoint.  removes letters to leave "tk.design" */
    .content-to-hide {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .content-container {
        margin: 0em 0em 0em 0em;
        padding: 5em 0 4em 0;
        width: 100%;
        /* height: 100vh; */
    }
    #testText {
        font-size: 1.5em;
    }
}

/* [====================] -  MEDIA QUERIES - [====================] */

/* --------------------------------------------------------------------------------------- */

/* [====================] - BEGIN COMPONENT TESTING - [====================] */

/* testing out the switch component for dark mode */

/* The progress container (grey background) */

.progress-container {
    width: 100%;
    height: .4em;
    background: none;
    position: fixed;
    bottom: 0;
    opacity: 0.95;
    z-index: 11;
}

/* The progress bar (scroll indicator) */

.progress-bar {
    height: .6em;
    background: #1455C2;
    width: 0%;
    transition: ease;
}

.devA {
    background: yellow
}

.devB {
    background: lightgreen;
}

/* [====================] - END COMPONENT TESTING - [====================] */